@import './base.css';

.v-card-item__prepend {
    padding-inline-end: 0.625rem;
}

.v-card-item__content {
    align-self: stretch;
}

.control-panel .bonuses [class*=columns-block-column-] {
    padding-right: 4rem !important;
}