@import './base.css';

.primary-text-color {
    color: #574D44;
}

.secondary-text-color {
    color: #968878;
}

.background-color-light {
    background: #FFFEFB;
}

.header-text {
    font-size: 1.75rem;
}

.regular-text {
    font-size: 1rem;
    line-height: 120%;
}

.small-text {
    font-size: 0.875rem;
}

.smallest-text {
    font-size: 0.75rem;
}

ul.flat-list li {
    display: inline;
}

.anno-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.625rem;
    border: 1px solid #E4DAC8;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.anno-card.dense {
    padding: 0.5rem;
}

.anno-card > div {
    width: 100%;
}

.anno-card .header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 0.5rem;
    gap: 0.625rem;
}

.anno-card ul {
    list-style-type: none;
}

.underlined-bottom {
    border-bottom: 1px solid #E4DAC8;
}

.v-toolbar__extension {
    background-color: #FFFEFB;
}

.stats-panel .bonuses [class*=columns-block-column-] {
    padding-right: 4rem !important;
}

.control-panel .v-col .v-field--variant-underlined .v-field__outline::after {
    border: none;
}

.control-panel .v-col .v-field__clearable,
.filters-panel .v-col .v-field__clearable,
.control-panel .v-col .v-field__append-inner,
.filters-panel .v-col .v-field__append-inner {
    align-items: center;
}

.control-panel .v-col .v-field__clearable > .v-icon,
.filters-panel .v-col .v-field__clearable > .v-icon {
    font-size: 1rem;
}

.control-panel label.v-label.v-field-label,
.filters-panel label.v-label.v-field-label {
    line-height: 1rem;
    top: 1.25rem;
}

.control-panel label.v-label.v-field-label.v-field-label--floating,
.filters-panel label.v-label.v-field-label.v-field-label--floating {
    top: 0.65rem;
}

.control-panel .v-input__control .v-field,
.filters-panel .v-input__control .v-field {
    --v-input-control-height: 2.5rem;
}

header.v-app-bar.v-toolbar:not(.v-toolbar--flat) {
    box-shadow: 0px 4px 8px rgba(87, 77, 68, 0.2);
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}